.index .main .text_form {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
  width: 200px;
  height: 200px;
}

.index .main .text_form .name_content {
  margin-bottom: 10px;
}

.index .main .text_form .email_content {
  position: relative;
}

.index .main .text_form .email_content .submit_btn {
  font-size: 15px;
  position: absolute;
  bottom: 0;
  right: -40px;
}
